* {
  /* <weight>: Use a value from 100 to 900 */
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap')
      font-family: 'Noto Sans KR',
    sans-serif;
  font-weight: 400;
  font-style: normal;

  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

header {
  background-color: green;
  background-image: url('https://images.unsplash.com/photo-1511992243105-2992b3fd0410?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
  background-position: center;
  background-size: cover;
  color: whitesmoke;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 15.5rem;
}

header > button {
  width: 10rem;
  height: 3.3rem;
  background-color: transparent;
  color: white;

  border: 1px solid white;
  border-radius: 5px;

  margin-top: 1.5rem;
}

.section_album-records {
  width: 31rem;
  margin: 2rem auto 0 auto;
  padding: 1.25rem;
  box-shadow: 0px 0px 3px 0px gray;
  border-radius: 5px;
}

.records-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.records-btns > button {
  margin-right: 5px;
}

.section_albums {
  width: 80rem;

  margin: 2rem auto 0 auto;
}
